<footer>
    <div class="f-container">
        <div class="f-socilas">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <h6>&copy 2026 Airbnb ,inc</h6>
        <div class="f-tools">
            <a href="/">Privacy</a>
            <a href="/">Terms</a>
            <a href="/">Sitemap</a>
        </div>
    </div>


</footer>